* {
	font-family: monospace;
	font-size: 12pt;
	padding: 0;
	margin: -2px 1px;
}

window#waybar {
	background-color: rgba(35, 33, 54, 0.88);
	color: rgb(224, 222, 244);
}

#workspaces button {
	padding: 0 4px;
	margin: 7px 0px;
	border: 0px solid rgba(0, 0, 0, 0);
	color: rgb(224, 222, 244);
}

#workspaces button.active {
	color: rgb(35, 33, 54);
	background-image: linear-gradient(-30deg, #d4aff7, #a4dfe8);
	border-radius: 6px;
}
