* {
	font-family: monospace;
	font-size: 12pt;
	padding: 0;
	margin: -2px 1px;
}

window#waybar {
	background-color: rgb(35, 33, 54);
	color: rgb(224, 222, 244);
}

#network {
	min-width: 9em;
	margin-left: 0;
}

#window.layout {
	margin: 0;
	border: 0;
}

#window.title {
	padding-top: 2px;
	margin: 4px 0px;

	border-style: solid;
	border-width: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;

	border-image: linear-gradient(-90deg, #d4aff7, #a4dfe8);
	border-image-slice: 1;
	color: rgb(224, 222, 244);
}

#tags button {
	padding: 2px 5px;
	margin: 6px 0px;
	border-width: 0px;
	color: rgb(86, 82, 110);
}

#tags button.occupied {
	padding: 2px 5px;
	margin: 6px 0px;
	border-width: 0px;
	color: rgb(224, 222, 244);
}

#tags button.urgent {
	padding: 0 5px;
	padding-top: 2px;
	margin: 6px 0px;

	border-width: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;

	border-image: linear-gradient(-90deg, #eb6f92, #ea9a97);
	border-image-slice: 1;
	color: rgb(224, 222, 244);
}

#tags button.focused {
	padding: 0 5px;
	padding-top: 2px;
	margin: 6px 0px;

	border-width: 2px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;

	border-image: linear-gradient(-90deg, #d4aff7, #a4dfe8);
	border-image-slice: 1;
	color: rgb(224, 222, 244);
}

#custom-sep {
	color: rgb(86, 82, 110);
}
