#window {
	background-color: rgba(35, 33, 54, 0.88);
	border-radius: 6px;
	border: 1px solid rgba(100, 100, 100, 1);
	font-family: 'monospace';
}

#outer-box {
	background-color: rgba(35, 33, 54, 0);
	border-radius: 6px;
	padding: 6px;
}

#input {
	background: linear-gradient(to right,
				rgba(0, 0, 255, 0.1) 0%,
				rgba(255, 0, 255, 0.05) 100%);
	border-radius: 6px;
	color: rgb(224, 222, 244);
	border: none;
	margin-bottom: 6px;
}

#entry {
	color: rgb(224, 222, 244);
}

#entry:selected {
	background-color: rgba(42, 40, 62, 0.98);
	border-radius: 6px;
}
